@import '../../vars';

section#about {
  display: flex;
  padding: 150px 125px 0 125px;
  background-color: $blue-600;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 4.8rem;
    }

    p {
      font-size: 2.4rem;
      max-width: 595px;
      margin-top: 30px;
    }
  }
}
